### IDE Files ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Build Results (Recursive) ###
target/
build/
.mvn/wrapper/maven-wrapper.jar
HELP.md
### Secrets (Crucial!) ###
*.env
